package section

templ Testimonials() {
	<section class="section section-lg section-midnight-blue">
		<h2 class="heading text-center py-6 px-8 lg:pt-0 lg:pb-16">
			What our customers say about us
		</h2>
		<div class="wrapper px-3 grid grid-cols-12 gap-6"></div>
	</section>
}
