package section

templ Services(services []any) {
	<section class="py-4 lg:pt-12 pb-20 section" id="services">
		<h1 class="text-center text-2xl lg:text-4xl font-bold py-8 md:py-10 lg:py-12">
			How we can help you
		</h1>
		<div class="wrapper wrapper-xl px-3 grid md:grid-cols-12 gap-6">
			if services != nil {
			}
		</div>
	</section>
}
