package pages

import (
	"app/forms"
	"app/view/layout"
)

templ Login(form forms.Form[forms.Login]) {
	@layout.Auth("Login") {
		<header class="text-center pt-12 pb-6">
			<h1 class="text-3xl">Sign In</h1>
		</header>
		<div class="mx-auto" style="max-width: 360px;">
			<div class="p-8 rounded-lg shadow bg-white">
				<form method="POST" class="space-y-3">
					<input type="hidden" name="_csrf" value={ form.Csrf() }/>
					@FormField(FormFieldProps{
						Label: "Email Address",
						Error: form.Errors.Get("email"),
					}) {
						<input name="email" type="email" class="input w-full" value={ form.Fields.Email }/>
					}
					@FormField(FormFieldProps{
						Label: "Password",
						Error: form.Errors.Get("password"),
					}) {
						<input type="password" name="password" class="input w-full"/>
					}
					<div class="pt-2">
						<button
							type="submit"
							class="bg-blue-950 text-white px-3 py-2.5 w-full rounded-md font-medium text-sm"
						>Login</button>
					</div>
				</form>
			</div>
			<footer class="text-center py-4">
				<a href="#" class="text-gray-500 text-sm underline hover:text-blue-600">Forgot password?</a>
			</footer>
		</div>
	}
}
